body {
  margin: 20px;
  background-color: black;
}

#simulation-box {
  padding: auto;
  overflow: hidden;
  background-color:black;
  width: 900px;
  height: 600px;
  /* border: red solid 5px; */
}

.circle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  transform: translate(-50%, -50%);
}

.circle-big {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
}

.wall {
  border: red solid 5px;
}

.top {
  position: absolute;
  top: 0px;
  left: 475px;
}

.bottom {
  position: absolute;
  top: 650px;
  left: 475px;
}

.middle {
  position: absolute;
  top: 325px;
  left: 475px;
}

.boid {
  position: absolute;
  height: 0px;
  width: 0px;
  margin-left: 1px;
  margin-right: 1px;
  border-style: solid;
  border-width: 0 3px 10px 3px;
  border-color: transparent transparent #4f46e5 transparent;
  transform-origin: center center;
}